@font-face {
  font-family: norseBold;
  src: url("./fonts/Norse-Bold.otf");
}

.container {
  display: flex;
}

.sidebar {
  flex: 4;
  height: 100vh;
  background-image: url("./images/backgroundImage.avif");
}

.logo-div {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  margin-top: 20vh;
  padding: 5% 0;

  text-align: center;
}

.logo-div > img {
  display: inline-block;
  max-height: 100%;
}

.logo-div > p {
  display: inline-block;
  margin: auto;
  padding: 50px 0;

  color: white;
  font-size: 120px;
  font-family: NorseBold, sans-serif;
}

/* FORM */

form {
  flex: 6;
  display: flex;
  flex-direction: column;
}

/* Form Header */

form .header {
  flex: 1;
  background-color: rgb(250, 250, 250);
}

.header > p {
  margin: 50px;
  font-size: 24px;
}

/* Form Inputs */

form .form-input {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

form h2 {
  width: 100%;
  height: 10%;
  margin-left: 50px
}

.form-row {
  flex-grow: 1;
  width: 48%;
  height: 20%;
}

.form-row:nth-child(even) label,
.form-row:nth-child(even) input {
  margin-left: 50px;
}

/* Form Submit */

form .form-submit {
  flex: 1;
  background-color: rgb(250, 250, 250);

}
